@use "../../styles/colors.module.scss" as colors;
@use "../../styles/utils.module.scss" as utils;

.cell {
  border: 1px solid colors.$gray-2;
  width: utils.$cell-width;
  height: utils.$cell-height;
  text-align: left;
  padding: 0.1rem;
  font-size: 0.9rem;
  cursor: cell;
  background-color: colors.$white;

  &:focus-visible {
    outline: none;
  }
}
