.header {
  text-align: center;
  background-color: #ccc;
  font-size: 0.9rem;
  overflow: hidden;
  border: 1px solid #aaa;
  width: 5rem;
  // TODO: create header mixin

  .selected {
    background-color: cyan;
  }
}
