@use "./colors.module.scss" as colors;

@mixin table-header($width: $cell-width) {
  text-align: center;
  background-color: colors.$ash-gray;
  border: 1px solid colors.$gray-3;
  width: $width;
  height: $cell-height;
  font-size: 0.8rem;
  color: colors.$gray-5;

  &.selected {
    background-color: colors.$silver-sand;
  }
}

@mixin styles {
  .screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

$cell-width: 6rem;
$cell-height: 1.5rem;
